# Ignorar dependencias pesadas
node_modules
.expo
dist
build

# Android cache
android/.gradle
android/build
android/app/build
*.iml
.gradle
.idea

# iOS cache
ios/build
ios/Pods

# Archivos de entorno
*.env
.env.local
.env.*.local

# Logs y temporales
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
# Excluir entornos / scripts locales
backend/
scripts/
.venv
**/.venv
**/__pycache__
backend/**
